*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Courier New', Courier, monospace;
}

.header{
    background-color: #3833336f;
    color: #fff;
    padding-bottom: 2em;
}

.header nav ul{
    text-align: center;
}

#boton_especial{
    margin-left:10%;
    background-color: #00F;
    padding: 8px;
}


.header nav ul li{
    display: inline-block;
    
}

.header nav ul li a:hover{
    color: #413b3b;
}

.header nav ul li a{
    text-decoration: none;
    color: #fff;
}

#proceso_venta{
    display: flex;
    justify-content: center;
}

#titulo{
    
    text-align: center;
    
}

.proceso{
    flex: 3;
    padding: 3em;
    text-align: center;
}

.pie_de_pagina{
    padding: 2em;
    color: #fff;
    background-color: rgb(1, 1, 144);
}

#anuncio{
    padding: 1em;
    background-color: rgb(232, 161, 8);
    justify-content: center;
    align-items: center;
    width: 35em;
    height: auto;
}

#formulario{
    padding: 1em;
}

#descripcion{
    width: 100%;
    height: 5em;
}