@import url(/css/header.css);
@import url(/css/footer.css);
@import url(/css/styles.css);

/*AVISOS*/
.notices_posters {
    padding-bottom: 3rem;
}

#notices {
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 950px;
    max-width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 6px 6px 6px 6px #00000014;
    border-radius: 15px;
}

#notices input[type=radio] {
    display: none;
}


#notice_poster label {
    cursor: pointer;
    text-decoration: none;
}

#notices_container {
    position: relative;
    z-index: 1;
    overflow: hidden;
}


#notice1:checked~#notices_container .inner_container {
    margin-left: 0;
}

#notice2:checked~#notices_container .inner_container {
    margin-left: -100%;
}

#notice3:checked~#notices_container .inner_container {
    margin-left: -200%;
}

#notice4:checked~#notices_container .inner_container {
    margin-left: -300%;
}

#notices_container .inner_container {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    height: auto;
    display: flex;
}

#notices_container .notice_wrapper {
    width: 25%;
    display: flex;
    flex-shrink: 0;
    min-height: 250px;
}

.notice_wrapper {
    position: relative;
    text-align: center;
}

.notice_wrapper img {
    display: block;
    height: auto;
    max-height: 400px;
}

.notice_text {
    position: absolute;
    top: 50%;
    width: 30%;
    height: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 0;
}

.notice_link {
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    border: solid var(--light-bg-solid);
    background-color: transparent;
    color: var(--light-bg-solid);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.notice_text h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6.8rem;
}

.text_notice_conteiner {
    transform: translate(-50%, -50%);
    position: absolute;
    height: 100%;
    width: 50%;
    top: 50%;
    left: 25%;
    z-index: 110;
    background: linear-gradient(80deg, rgb(0 0 0) 20%, rgb(0 0 0 / 53%) 50%, rgb(0 0 0 / 8%) 80%);
    clip-path: polygon(0 0, 39% 0, 82% 100%, 0% 100%);
}


#labels_container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 1.6rem;
    left: 2.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    gap: 1rem;
    margin: 0;
    padding: 0.5rem 1rem;
    z-index: 100;
    border-radius: 1rem;
    align-content: center;
}

#labels_container label {
    display: inline-block;
    width: 1.5rem;
    height: 0.4rem;
    border-radius: 20%;
    background: #959595cb;
}

#labels_container label:hover {
    scale: 1.2;
}

#notice1:checked~#labels_container label:nth-child(1),
#notice2:checked~#labels_container label:nth-child(2),
#notice3:checked~#labels_container label:nth-child(3),
#notice4:checked~#labels_container label:nth-child(4) {
    background: #ffffff;
}

.notice_link:hover {
    scale: 1.1;
    left: 27%;
}

/*AUTOS POR MARCA*/
.car_by_brand {
    padding: 2rem 0;
    background-color: #e1e1e175;
}

.select_brand_text {
    text-align: center;
    padding: 10px 0;
}

#slider_logo {
    padding: 10px 0;
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    background-color: #ffffff;
    box-shadow: 6px 6px 6px 6px #00000014;
    border-radius: 15px;
}

#slider_logo input[type=radio] {
    display: none;
}

#controls {
    margin: -80px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    width: 50px;
    height: 50px;
    opacity: 0.4;
}

#controls label:hover {
    opacity: 1;
}

#slider_logo label {
    cursor: pointer;
    text-decoration: none;
}

#slides_logo {
    position: relative;
    z-index: 1;
    overflow: hidden;
}


.slide-content {
    display: flex;
    gap: 30px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.conteiner_brand {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.conteiner_brand:hover {
    scale: 1.2;
}

#slide_logo1:checked~#slides_logo .inner {
    margin-left: 0;
}

#slide_logo2:checked~#slides_logo .inner {
    margin-left: -100%;
}

#slide_logo3:checked~#slides_logo .inner {
    margin-left: -200%;
}

#slide_logo4:checked~#slides_logo .inner {
    margin-left: -300%;
}

#slides_logo .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    height: auto;
    display: flex;
}

#slides_logo .slide_logo {
    width: 25%;
    display: flex;
}


#bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    padding: 10px 0 0 0;

}

#bullets label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #949494;
}

#bullets label:hover {
    scale: 1.2;
}

#slide_logo1:checked~#bullets label:nth-child(1),
#slide_logo2:checked~#bullets label:nth-child(2),
#slide_logo3:checked~#bullets label:nth-child(3),
#slide_logo4:checked~#bullets label:nth-child(4) {
    background: #000000;
}

/*GRID AUTOS POR TIPO CARROCERIA*/
.car_body_type {
    background-color: #ffffff;
}

.grid_container {
    margin: 2rem 0;
    width: 100%;
}

.car_body_type_title {
    text-align: center;
    padding: 2rem 0;
}

.grid_container_content {
    width: 100%;
}

.grid_col {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1.5rem;
}

.segment_content {
    box-shadow: 6px 6px 6px 6px #00000014;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
}

.segment_content img {
    height: 70%;
}

.segment_content:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 6px 6px #0e007a41;
}


/*AUTOS NUEVOS*/
.new_cars {
    background-color: #e1e1e175;
    padding: 1rem 0;
}

.title_conteiner {
    margin: 2rem 0;
    text-align: center;
}

.title_new_auto {
    text-align: center;
    margin: 1rem 0;
}

.compare_ref {
    text-align: center;
    border-radius: 1rem;
    border: solid black;
}


.car_cards_conteiner {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-12);
}

.card {
    overflow: hidden;
    border-radius: 1rem;
    background-color: var(--light-bg-solid);
}

.card:hover {
    box-shadow: 5px 10px 20px #00000014;
    transform: scale(1.03);
}

.card_info {
    padding: 0.5rem 0;
    display: grid;
    justify-content: center;
}

.new_cars .card .card_price {
    padding: 1rem 0;
    font-size: 2rem;
    color: #000000;
}

.card_title {
    padding: 0.5rem 0;
}

#at1,
#at2,
#at3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*COMPARE CAR*/

.compare_car {
    margin: 3rem 0;
    position: relative;
    text-align: center;
}

.compare_text {
    padding: 1rem;
}

.compare_car_conteiner {
    width: 75%;
    max-width: 1000px;
    display: flex;
    position: relative;
    padding: 0;
    overflow: hidden;
    background-color: var(--dark-light-transparent);
    box-shadow: 6px 6px 6px 6px #00000014;
    border-radius: 2rem;
}

.compare_conteiner_img {
    display: flex;
    justify-content: center;
}

.compare_conteiner_img img {
    width: 50%;
}

.compare_select_info_link {
    padding: 0.5rem;
    border: solid var(--light-bg-solid);
    background-color: transparent;
    color: var(--light-bg-solid);
    font-family: Arial, Helvetica, sans-serif;
}

.compare_info_container {
    transform: translate(-50%, -50%);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 40%, rgb(0 0 0 / 10%) 42%, rgb(0 0 0 / 60%) 47%, rgb(0 0 0) 50%, rgb(0 0 0 / 60%) 53%, rgb(0 0 0 / 10%) 58%, rgba(0, 0, 0, 0) 60%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 51%, 75% 100%, 35% 100%, 35% 50%, 0 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.compare_car_conteiner .compare_select_info_link:hover {
    scale: 1.1;
}