:root {
    /* Palette */
    /**/
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(65, 165, 211, 0.83);
    --secondary-500: rgba(72, 184, 235, 0.806);
    --secondary-300: rgb(59, 160, 207);

    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-light-transparent:#e1e1e172;
    --dark-light-solid: #bbbb;
    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #ffffff;
    --ligth-bg2-solid: #e9e5e5;

    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 2.0em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-48: 4.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
    --spacing-5: 0.5rem;
}

/*CSS PREDERMINADOS*/



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    color: var(--dark-solid);
}

span {
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: var(--dark-solid);
    cursor: pointer;
}

.page_header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul,
ol {
    list-style-type: none;
}

img {
    width: 100%;
}

input[type="text"]::placeholder {
    color: var(--dark-300);
    font-family: var(--base-font);
    font-weight: 500;
}

.conteiner {
    max-width: 1200px;
    margin:0 auto;
    padding: 0 1rem;
}



/*HEADER*/

.page_header {
    background-color: #ffffffe4;
    position: sticky;
    top: 0;
    z-index: 110;
    border-bottom: solid 1.5px #b9b9b9;
}

.navbar {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.logo_conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #000000;
}

.navbar .navbar_menu {
    display: flex;
    gap: var(--spacing-12);
}


.logo {
    object-fit: contain;
    width: 50px;
    height: 45px;
}

.page_header .navbar .navbar_menu .navbar_Item {
    font-family: system-ui,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 510;
}
.container_user_section {
    display: flex;
    gap: 0.5rem;
}
.page_header .user_section {
    font-family: system-ui,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    color: #3861fb;
    padding:0.2rem 0.6rem;
    border: solid 2px #3861fb;
    border-radius: 1.2rem;
}
.page_header #sing_up {
    color: #ffffff;   
    background: #3861fb;
    border: none;
}
/*cambiar a display block cuando se inicia sesion o se regitro*/
#profile{
    display: block;
}

.page_header  .user_section:hover {
    transform: scale(1.05);
}

.navbar_menu a:hover {
    font-weight: 600;
    color: #3861fb;
}

/*HEADER*/





/* PERFIL*/
.profile_section {
    background-color: #f2f2f2;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile h1 {
    font-size: 24px;
}

/* ACA DONDE SUBE LA IMAGEM PARA EL PERFIL */

#imagen {
    display: block;
    width: 150px; 
    height: 50px; 
    border: 3px solid #cccccc;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

/* BOX DONDE SUBE LA IMAGEM */
label[for="imagen"] {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

/* BOX DE SUBIR FOTO QUE MUDA DE COR */
#imagen:hover {
    border-color: #007bff;
}

/* ACA ESTA EL FORMULARIO!!! */

.profile_form {
    text-align: left;
}

.form_group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}



/*FIN DEL REGISTRO*/





/*INICIO FOOTER*/

.footer_page {
    background-color: #000000;
    padding: 1.5rem 0 1rem 0;
}

.footer_page .footer_section .fotter_column li a {
    color: #bbbb;
}

.footer_section {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

.footer_section .fotter_column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer_column_title {
    font-weight: 400;
    font-size: 1rem;
    color: var(--light-bg-solid);
    margin-bottom: 0.8rem;
}

.footer_section_social {
    text-align: center;
    padding: 0.5rem 0;
}

.social_links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    gap: var(--spacing-12);
}

.footer_page .social_links a,
.footer_page .footer_section_social span {
    color: #bbbb;
}

.social_links li a {
    font-size: 1.5rem;
}

.footer_section .logo_conteiner .logo {
    width: 90px;
    height: 70px;
}

.footer_section .logo_conteiner:hover {
    scale: 1.2;
}

.footer_page .footer_section .fotter_column li a:hover {
    color: var(--light-bg-solid);
}

.social_links .social_fb:hover {
    color: #4889d4;
}

.social_links .social_tw:hover {
    color: var(--light-bg-solid);
}

.social_links .social_yt:hover {
    color: #d61111;
}

/*FOOTER*/